<div class="row mt-4">
  <div class="col-md-6">
    <h4>Create a New  Post</h4>

    <form class="form text" id="edit-project-form">
      <div class="form-group">
        <label for="blogpost-name">Blog Title</label>
        <input required class="form-input" type="text" id="blogpost-name" name="blogpost-name" value="{{post.title}}" />
      </div>
      <div class="form-group">
        <label for="blogpost-desc">Blog Contents</label>
        <textarea required class="form-input" id="blogpost-desc" name="blogpost-desc">{{post.description}}</textarea>
      </div>
      <div class="form-group flex flex-row sm:flex-row">
        <button class="btn btn-light" id="post-btn"data-entry={{post.id}}>Update Post</button>
        <button class="btn btn-primary" id="delete-btn"data-entry={{post.id}}>Delete</button>
        <a href="/dashboard" class="cancel-text" id="cancel-btn" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>
<script src="/js/edit-post.js"></script>
