/* followed the mini-project's solved folder */

/* Color Schemes via Color Picker and Mockup photo */
:root {
  --nav:#221010;
  --body: #d9e9d3;
  --hover: #ba8a69;
  --text: #ebf0f5;
  --gray: #a7a7a7;
  --paragraph: #008080;

}
header, .blogpost-header, .blogpost:not(:last-child) {
    background-color:#221010;
    background-size:cover;
    border-bottom: 1px solid #ccc;
}

html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 120%;
    margin: 0;
    padding: 0;
}

body {
    background-color:#d9e9d3;
}

header h1 {
    background-color: #d9e9d3;
    font-size: 38px;
    font-weight: bold;
    margin: 20px 50px;
    padding: 10px 15px;
    display: inline-block;
    box-shadow: 7px 7px 0px #a7a7a7;
    border-radius: 5px;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-items: center;
}  

p {
  color: #008080;
  font-weight: bold;
  text-decoration: none;
  margin: 10px ;
}

nav a {
    margin: 1.2rem;
    text-decoration: none;
    color:#ebf0f5; 
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
    color: #a7a7a7;
}

.created-on {
  color: #d9e9d3;
  flex-direction: row;
  justify-content: space-around;
}

.created-on p {
  text-align: right;
  margin: 0;
  line-height: auto;
}

.created-by {
  color:#ebf0f5;
  flex-direction: row;
  justify-content: space-around;
}

.created-by p {
  text-align: right;
  margin: 0;
  line-height: auto;
}
.blogpost-desc {
  margin-top: 0;
  border-color: #221010;
  border: 5px solid;
}

.blogpost-desc p {
  margin: 20px;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #ebf0f5;
    text-decoration: none;
    font-size: 100%;
}
  
.no-button:hover {
    color: #ebf0f5;
    text-decoration: underline;
}

#comment-desc {
  padding: 10px;
  margin-top: 15px;
  border-bottom: 1px solid; 
}

h2 {
  color:#221010;
  font-weight: bold;
}

h3, .form-group {
  color:#221010;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea[name="comment-body"] {
  width: 100%;
  max-width: 1000px;
}

.blogpost-name-link {
    color: #d9e9d3;
}

.blogpost-name-not-link {
    color: #ebf0f5;
}

.blogpost-name-link:hover {
  color: #d9e9d3;
  text-decoration: none;
}

#blogpost-id {
  display: none;
}

.client-blogpost-names-list-item {
  background-color:  #a7a7a7;;
  border-radius: 1.5rem;
  display: flex;
}

.client-blogpost-names-list-item-link {
  margin: 1rem 2rem 1rem 2rem;
  color: #d9e9d3;
}

.client-blogpost-names-list-item-link:hover {
    text-decoration: underline;
    color:#ebf0f5;
}

.container {
  color: #d9e9d3;
}

.comment-container {
  border: black 2px solid;
}